body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #4992ff;
   color: #fff;
}
i {
   position: absolute;
   font-size: 80px;
   cursor: pointer;
}